{% extends "admin/formularios.html" %}
{% load static %}
{% block titulo %}
  Registrarse 
{% endblock %}
{% block content %}

<div class="img-content">
  <img class="img-user" src=" {% static "users\admin\img\user_giKLtxw.png " %} " alt="Registro">
</div>
<form  action="" method="post">
    {% csrf_token %}
    {% for field in form %}

    <div class="row">
      <div class="input-field ">
        {% if field.errors %}
           {{field.errors}}
        {% endif %}
       
        {{field}}
        
        
      <label class= "{% for class in field.label_clasess %} {{class}} {% endfor %}"  for="{{ field.name }}">{{ field.label }}</label>
      </div>
    </div>

    {% endfor %}
    <div class="row left-align col s6">
      <a class = "btn btn-small red right-align" href="{% url 'users:home' %}" type="submit">Cancelar</a>
</div>
<div class="row left-align col s3">
  <button class = "btn btn-small blue ">Registrar</button>
  </div>
</form>

{% endblock %}