{% extends "admin/formularios.html" %}
{% block titulo %}
Actualizar Quirofano
{% endblock %}
{% block content %}
<form action="" method="post">
        {%csrf_token%}
        {% for field in form %}

        <div class="row form-input">
          <div class="input-field ">
            {% if field.errors %}
               {{field.errors}}
            {% endif %}
           
            {{field}}
            
            
          <label class= "{% for class in field.label_clasess %} {{class}} {% endfor %}"  for="{{ field.name }}">{{ field.label }}</label>
          </div>
        </div>
    
        {% endfor %}
        <div class="form-item   left-align col s6">
                <a class = "btn btn-small red " href="{% url 'users:quirofanos' %}">Cancelar</a>
          </div>
          <div class="form-item  right-align col s3">
               <button class="btn btn-small blue " type="submit">Guardar</button>
                 </div>
     </form>

{% endblock %}