{% extends "home/templatecirugia.html" %}

{% block cirugias %}
<h1>MAMOPLASTIA DE AUMENTO</h1>
    <ul class="nav nav-tabs">
        <li class="">
            <a data-toggle="tab" href="#home">DESCRIPCION</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu1">RIESGOS Y GARANTIAS</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu2">POST-OPERATORIO</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade in active">
            <h3>Descripcion</h3>
            <p>El aumento mamario, técnicamente conocido como mamoplastia de aumento, es un procedimiento quirúrgico para mejorar el tamaño y la forma de la mama de la mujer en las siguientes situaciones: para mejorar la silueta de la mujer que piensa que sus mamas son demasiado pequeños, para corregir la reducción de las mamas que se produce tras algunos embarazos, para corregir una diferencia de tamaño entre ambas mamas, como un procedimiento reconstructivo tras cirugía de la mama por diferentes causas.
                    Es posible aumentar el tamaño de la mama una o varias tallas mediante la introducción de una prótesis debajo de la mama.
            </p>
        </div>
        <div id="menu1" class="tab-pane fade">
            <h3>Riesgos y garantias</h3>
            <p>La cirugía de aumento mamario es una técnica segura, siempre y cuando sea realizada por un cirujano plástico calificado. Sin embargo, como en cualquier operación siempre pueden existir complicaciones y riesgos asociados. En el aumento mamario, la complicación más frecuente es la contractura capsular, que ocurre cuando la cicatriz interna que se forma alrededor del implante se contrae en exceso, haciendo que la mama se vuelva más dura. Puede ser tratada de diversas maneras, desde tratamientos médicos hasta tratamientos quirúrgicos como capsulectomía o capsulotomía, requiriendo en ocasiones cambiar la prótesis.
                    Otra complicación, propia de cualquier cirugía es el hematoma que sólo en casos concretos precisa de una nueva intervención para eliminar la sangre acumulada. Un pequeño porcentaje de mujeres puede tener una infección alrededor de la prótesis, normalmente en las primeras semanas después de la cirugía. Algunas mujeres notan los pezones más o menos sensibles, e incluso, sin sensibilidad. Estos cambios suelen ser temporales, aunque en unos pocos casos serán permanentes. No existe evidencia de que las prótesis de mama afecten la fertilidad, el embarazo o la lactancia.
                    Es extraordinariamente infrecuente que las prótesis pueden romperse, haciendo que el contenido salga fuera de su cápsula. Cuando la prótesis está rellena de suero, el líquido se reabsorbe rápidamente sin producir ningún daño, disminuyendo la mama de volumen en unas horas. Si está rellena de silicona pueden pasar dos cosas: si la cápsula formada por el organismo no se rompe, no notará ningún cambio; si se ha roto, especialmente cuando ha sido sometida a mucha presión, la silicona sale disminuyendo el volumen de la mama. Con ambos tipos de prótesis será necesaria una nueva intervención para reemplazarla.
                    No existe evidencia científica probada de que las prótesis provoquen cáncer de mama o enfermedades del tejido conectivo. La colocación de una prótesis no impide la realización de mamografías.
            </p>
        </div>
        <div id="menu2" class="tab-pane fade">
            <h3>Recuperacion</h3>
            <p>La cirugía de aumento mamario es una técnica segura, siempre y cuando sea realizada por un cirujano plástico calificado. Sin embargo, como en cualquier operación siempre pueden existir complicaciones y riesgos asociados. En el aumento mamario, la complicación más frecuente es la contractura capsular, que ocurre cuando la cicatriz interna que se forma alrededor del implante se contrae en exceso, haciendo que la mama se vuelva más dura. Puede ser tratada de diversas maneras, desde tratamientos médicos hasta tratamientos quirúrgicos como capsulectomía o capsulotomía, requiriendo en ocasiones cambiar la prótesis.
                    Otra complicación, propia de cualquier cirugía es el hematoma que sólo en casos concretos precisa de una nueva intervención para eliminar la sangre acumulada. Un pequeño porcentaje de mujeres puede tener una infección alrededor de la prótesis, normalmente en las primeras semanas después de la cirugía. Algunas mujeres notan los pezones más o menos sensibles, e incluso, sin sensibilidad. Estos cambios suelen ser temporales, aunque en unos pocos casos serán permanentes. No existe evidencia de que las prótesis de mama afecten la fertilidad, el embarazo o la lactancia.
                    Es extraordinariamente infrecuente que las prótesis pueden romperse, haciendo que el contenido salga fuera de su cápsula. Cuando la prótesis está rellena de suero, el líquido se reabsorbe rápidamente sin producir ningún daño, disminuyendo la mama de volumen en unas horas. Si está rellena de silicona pueden pasar dos cosas: si la cápsula formada por el organismo no se rompe, no notará ningún cambio; si se ha roto, especialmente cuando ha sido sometida a mucha presión, la silicona sale disminuyendo el volumen de la mama. Con ambos tipos de prótesis será necesaria una nueva intervención para reemplazarla.
                    No existe evidencia científica probada de que las prótesis provoquen cáncer de mama o enfermedades del tejido conectivo. La colocación de una prótesis no impide la realización de mamografías.
            </p>
        </div>
    </div>
<!-- Blefarosplatia de parpados -->
<h1>BLEFAROSPLASTIA DE PARPADOS</h1>
    <ul class="nav nav-tabs">
        <li class="">
            <a data-toggle="tab" href="#menu4">DESCRIPCION</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu5">RIESGOS Y GARANTIAS</a>
        </li>
        <li>
            <a data-toggle="tab" href="#menu6">POST-OPERATORIO</a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="menu4" class="tab-pane fade in active">
            <h3>Descripcion</h3>
            <p>La cirugía de los párpados, técnicamente conocida como blefaroplastia, es un procedimiento para extraer la grasa y el exceso de piel y músculo de los párpados superiores e inferiores. La blefaroplastia puede corregir la caída de los párpados superiores y las bolsas de los inferiores, características que hacen que parezcamos mayores y más cansados de lo que somos y que, en algunos casos, pueden interferir con la visión. Sin embargo, la blefaroplastia no elimina las “patas de gallo” u otras arrugas ni la caída de las cejas. Puede realizarse de manera aislada o junto a otras cirugías estéticas de la cara, como el lifting cervicofacial o el lifting frontal.
            </p>
        </div>
        <div id="menu5" class="tab-pane fade">
            <h3>Riesgos y garantias</h3>
            <p>Cuando este procedimiento es realizado por un cirujano plástico cualificado las complicaciones son infrecuentes y de poca importancia. Sin embargo, siempre existen posibilidades de complicaciones, como la infección o las reacciones anestésicas. Se pueden minimizar los riesgos siguiendo de manera cuidadosa las instrucciones de su cirujano plástico, tanto antes como después de la cirugía. Las complicaciones menores que pueden aparecer tras una blefaroplastia incluyen la visión doble o borrosa durante unos días, edema temporal de los párpados y asimetrías leves en la cicatrización. Tras la cirugía puede aparecer dificultad para cerrar completamente los párpados durante el sueño; solo en raros casos esta complicación será permanente. Otra complicación infrecuente es el ectropión, que puede precisar corrección quirúrgica.
            </p>
        </div>
        <div id="menu6" class="tab-pane fade">
            <h3>Recuperacion</h3>
            <p>Tras la cirugía, se le aplicará una pomada en los ojos para lubrificarlos, y en algunos casos, un vendaje suave. Puede tener molestias sobre los párpados; si las hubiese, se alivian fácilmente con la medicación prescrita por su cirujano (si presentase dolor severo o persistente debe comunicárselo a su cirujano). Deberá mantener la cabeza elevada durante unos días después de la cirugía y aplicarse compresas frías, para disminuir la inflamación y los hematomas. Se le enseñará como lavarse los ojos y se le indicará si debe aplicarse colirios oftálmicos para mantener los ojos hidratados. Durante las primeras semanas puede notar lagrimeo excesivo, hipersensibilidad a la luz y cambios temporales en la agudeza visual, como visión borrosa o doble. 
            </p>
        </div>
    </div>
{% endblock %}