{% extends "home/templatecirugia.html" %}

{% block cirugias %}
 <h1>PROTESIS TOTAL DE CADERA</h1>
     <ul class="nav nav-tabs">
         <li class="">
             <a data-toggle="tab" href="#home">DESCRIPCION</a>
         </li>
         <li>
             <a data-toggle="tab" href="#menu1">RIESGOS Y GARANTIAS</a>
         </li>
         <li>
             <a data-toggle="tab" href="#menu2">POST-OPERATORIO</a>
         </li>
     </ul>
 
     <div class="tab-content">
         <div id="home" class="tab-pane fade in active">
             <h3>Descripcion</h3>
             <p>El aumento mamario, técnicamente conocido como mamoplastia de aumento, es un procedimiento quirúrgico para mejorar el tamaño y la forma de la mama de la mujer en las siguientes situaciones: para mejorar la silueta de la mujer que piensa que sus mamas son demasiado pequeños, para corregir la reducción de las mamas que se produce tras algunos embarazos, para corregir una diferencia de tamaño entre ambas mamas, como un procedimiento reconstructivo tras cirugía de la mama por diferentes causas.
                     Es posible aumentar el tamaño de la mama una o varias tallas mediante la introducción de una prótesis debajo de la mama.
             </p>
         </div>
         <div id="menu1" class="tab-pane fade">
             <h3>Riesgos y garantias</h3>
             <p>La cirugía de aumento mamario es una técnica segura, siempre y cuando sea realizada por un cirujano plástico calificado. Sin embargo, como en cualquier operación siempre pueden existir complicaciones y riesgos asociados. En el aumento mamario, la complicación más frecuente es la contractura capsular, que ocurre cuando la cicatriz interna que se forma alrededor del implante se contrae en exceso, haciendo que la mama se vuelva más dura. Puede ser tratada de diversas maneras, desde tratamientos médicos hasta tratamientos quirúrgicos como capsulectomía o capsulotomía, requiriendo en ocasiones cambiar la prótesis.
                     Otra complicación, propia de cualquier cirugía es el hematoma que sólo en casos concretos precisa de una nueva intervención para eliminar la sangre acumulada. Un pequeño porcentaje de mujeres puede tener una infección alrededor de la prótesis, normalmente en las primeras semanas después de la cirugía. Algunas mujeres notan los pezones más o menos sensibles, e incluso, sin sensibilidad. Estos cambios suelen ser temporales, aunque en unos pocos casos serán permanentes. No existe evidencia de que las prótesis de mama afecten la fertilidad, el embarazo o la lactancia.
                     Es extraordinariamente infrecuente que las prótesis pueden romperse, haciendo que el contenido salga fuera de su cápsula. Cuando la prótesis está rellena de suero, el líquido se reabsorbe rápidamente sin producir ningún daño, disminuyendo la mama de volumen en unas horas. Si está rellena de silicona pueden pasar dos cosas: si la cápsula formada por el organismo no se rompe, no notará ningún cambio; si se ha roto, especialmente cuando ha sido sometida a mucha presión, la silicona sale disminuyendo el volumen de la mama. Con ambos tipos de prótesis será necesaria una nueva intervención para reemplazarla.
                     No existe evidencia científica probada de que las prótesis provoquen cáncer de mama o enfermedades del tejido conectivo. La colocación de una prótesis no impide la realización de mamografías.
             </p>
         </div>
         <div id="menu2" class="tab-pane fade">
             <h3>Recuperacion</h3>
             <p>La cirugía de aumento mamario es una técnica segura, siempre y cuando sea realizada por un cirujano plástico calificado. Sin embargo, como en cualquier operación siempre pueden existir complicaciones y riesgos asociados. En el aumento mamario, la complicación más frecuente es la contractura capsular, que ocurre cuando la cicatriz interna que se forma alrededor del implante se contrae en exceso, haciendo que la mama se vuelva más dura. Puede ser tratada de diversas maneras, desde tratamientos médicos hasta tratamientos quirúrgicos como capsulectomía o capsulotomía, requiriendo en ocasiones cambiar la prótesis.
                     Otra complicación, propia de cualquier cirugía es el hematoma que sólo en casos concretos precisa de una nueva intervención para eliminar la sangre acumulada. Un pequeño porcentaje de mujeres puede tener una infección alrededor de la prótesis, normalmente en las primeras semanas después de la cirugía. Algunas mujeres notan los pezones más o menos sensibles, e incluso, sin sensibilidad. Estos cambios suelen ser temporales, aunque en unos pocos casos serán permanentes. No existe evidencia de que las prótesis de mama afecten la fertilidad, el embarazo o la lactancia.
                     Es extraordinariamente infrecuente que las prótesis pueden romperse, haciendo que el contenido salga fuera de su cápsula. Cuando la prótesis está rellena de suero, el líquido se reabsorbe rápidamente sin producir ningún daño, disminuyendo la mama de volumen en unas horas. Si está rellena de silicona pueden pasar dos cosas: si la cápsula formada por el organismo no se rompe, no notará ningún cambio; si se ha roto, especialmente cuando ha sido sometida a mucha presión, la silicona sale disminuyendo el volumen de la mama. Con ambos tipos de prótesis será necesaria una nueva intervención para reemplazarla.
                     No existe evidencia científica probada de que las prótesis provoquen cáncer de mama o enfermedades del tejido conectivo. La colocación de una prótesis no impide la realización de mamografías.
             </p>
         </div>
     </div>
 <!-- PROTESIS TOTAL DE RODILLA -->
 <h1>PROTESIS TOTAL DE RODILLA</h1>
     <ul class="nav nav-tabs">
         <li class="">
             <a data-toggle="tab" href="#menu4">DESCRIPCION</a>
         </li>
         <li>
             <a data-toggle="tab" href="#menu5">RIESGOS Y GARANTIAS</a>
         </li>
         <li>
             <a data-toggle="tab" href="#menu6">POST-OPERATORIO</a>
         </li>
     </ul>
 
     <div class="tab-content">
         <div id="menu4" class="tab-pane fade in active">
             <h3>Descripcion</h3>
             <p>El aumento mamario, técnicamente conocido como mamoplastia de aumento, es un procedimiento quirúrgico para mejorar el tamaño y la forma de la mama de la mujer en las siguientes situaciones: para mejorar la silueta de la mujer que piensa que sus mamas son demasiado pequeños, para corregir la reducción de las mamas que se produce tras algunos embarazos, para corregir una diferencia de tamaño entre ambas mamas, como un procedimiento reconstructivo tras cirugía de la mama por diferentes causas.
                     Es posible aumentar el tamaño de la mama una o varias tallas mediante la introducción de una prótesis debajo de la mama.
             </p>
         </div>
         <div id="menu5" class="tab-pane fade">
             <h3>Riesgos y garantias</h3>
             <p>La cirugía de aumento mamario es una técnica segura, siempre y cuando sea realizada por un cirujano plástico calificado. Sin embargo, como en cualquier operación siempre pueden existir complicaciones y riesgos asociados. En el aumento mamario, la complicación más frecuente es la contractura capsular, que ocurre cuando la cicatriz interna que se forma alrededor del implante se contrae en exceso, haciendo que la mama se vuelva más dura. Puede ser tratada de diversas maneras, desde tratamientos médicos hasta tratamientos quirúrgicos como capsulectomía o capsulotomía, requiriendo en ocasiones cambiar la prótesis.
                     Otra complicación, propia de cualquier cirugía es el hematoma que sólo en casos concretos precisa de una nueva intervención para eliminar la sangre acumulada. Un pequeño porcentaje de mujeres puede tener una infección alrededor de la prótesis, normalmente en las primeras semanas después de la cirugía. Algunas mujeres notan los pezones más o menos sensibles, e incluso, sin sensibilidad. Estos cambios suelen ser temporales, aunque en unos pocos casos serán permanentes. No existe evidencia de que las prótesis de mama afecten la fertilidad, el embarazo o la lactancia.
                     Es extraordinariamente infrecuente que las prótesis pueden romperse, haciendo que el contenido salga fuera de su cápsula. Cuando la prótesis está rellena de suero, el líquido se reabsorbe rápidamente sin producir ningún daño, disminuyendo la mama de volumen en unas horas. Si está rellena de silicona pueden pasar dos cosas: si la cápsula formada por el organismo no se rompe, no notará ningún cambio; si se ha roto, especialmente cuando ha sido sometida a mucha presión, la silicona sale disminuyendo el volumen de la mama. Con ambos tipos de prótesis será necesaria una nueva intervención para reemplazarla.
                     No existe evidencia científica probada de que las prótesis provoquen cáncer de mama o enfermedades del tejido conectivo. La colocación de una prótesis no impide la realización de mamografías.
             </p>
         </div>
         <div id="menu6" class="tab-pane fade">
             <h3>Recuperacion</h3>
             <p>La cirugía de aumento mamario es una técnica segura, siempre y cuando sea realizada por un cirujano plástico calificado. Sin embargo, como en cualquier operación siempre pueden existir complicaciones y riesgos asociados. En el aumento mamario, la complicación más frecuente es la contractura capsular, que ocurre cuando la cicatriz interna que se forma alrededor del implante se contrae en exceso, haciendo que la mama se vuelva más dura. Puede ser tratada de diversas maneras, desde tratamientos médicos hasta tratamientos quirúrgicos como capsulectomía o capsulotomía, requiriendo en ocasiones cambiar la prótesis.
                     Otra complicación, propia de cualquier cirugía es el hematoma que sólo en casos concretos precisa de una nueva intervención para eliminar la sangre acumulada. Un pequeño porcentaje de mujeres puede tener una infección alrededor de la prótesis, normalmente en las primeras semanas después de la cirugía. Algunas mujeres notan los pezones más o menos sensibles, e incluso, sin sensibilidad. Estos cambios suelen ser temporales, aunque en unos pocos casos serán permanentes. No existe evidencia de que las prótesis de mama afecten la fertilidad, el embarazo o la lactancia.
                     Es extraordinariamente infrecuente que las prótesis pueden romperse, haciendo que el contenido salga fuera de su cápsula. Cuando la prótesis está rellena de suero, el líquido se reabsorbe rápidamente sin producir ningún daño, disminuyendo la mama de volumen en unas horas. Si está rellena de silicona pueden pasar dos cosas: si la cápsula formada por el organismo no se rompe, no notará ningún cambio; si se ha roto, especialmente cuando ha sido sometida a mucha presión, la silicona sale disminuyendo el volumen de la mama. Con ambos tipos de prótesis será necesaria una nueva intervención para reemplazarla.
                     No existe evidencia científica probada de que las prótesis provoquen cáncer de mama o enfermedades del tejido conectivo. La colocación de una prótesis no impide la realización de mamografías.
             </p>
         </div>
     </div>
{% endblock %}