{% extends "admin/dashboard.html" %}

{% block card-content %}
<div class="collection ">
        <a href="{% url 'cirujano:incluirEspecialidad' %}"class="collection-item center-align">Registrar Especialidad</a>
        <a href="{% url 'cirujano:especialidades' %}" class="collection-item center-align">Consultar Especialidades</a>
    </div>    
{% endblock card-content %}

{% block centro  %}
<div class="item">
        {% load static %}
        <img src="{% static "users/home/img/especialidades.jpg" %}" style="    width: 106%; height: 564px; padding: 0; margin-left: -12px; margin-top: -2px;" alt="">      
    </div>

<div class="text"style="text-align: center;">
    <h1>Especialidades</h1>
        <p>Registro y consulta de especialidades médicas que ejercen los médicos cirujanos registrados en la página, con el fin de brindar una mayor facilidad de sección a los pacientes.</p>
</div>
{% endblock centro %}