{% extends "admin/dashboard.html" %}

{% block card-content %}
<div class="collection ">
        <a href="{% url 'cirujano:incluirCirugia' %}" class="collection-item center-align">Incluir Cirugía</a>
        <a href="{% url 'cirujano:cirugias' %}" class="collection-item center-align">Consultar Cirugía</a>
    </div>    
{% endblock card-content %}

{% block centro  %}
<div class="item">
    {% load static %}
    <img src="{% static "users/home/img/cirugia.jpg" %}" style="    width: 106%; height: 564px; padding: 0; margin-left: -12px; margin-top: -2px;" alt="">      
</div>

<div class="text"style="text-align: center;">
    <h1>Cirugías</h1>
        <p>Registro y consulta de cirugías que realizan los médicos cirujanos especialistas registrados en la página, con el fin de ofrecerlas a pacientes en el extranjero que las requieran.</p>
</div>
{% endblock centro %}
