{% extends "admin/dashboard.html" %}

{% block card-content %}
<div class="collection ">
        <a href="{% url 'clinica:registro' %}"class="collection-item center-align">Registrar Clínica</a>
        <a href="{% url 'clinica:consultar' %}" class="collection-item center-align">Consultar Clínica</a>
    </div>    
{% endblock card-content %}

{% block centro  %}
<div class="item">
        {% load static %}
        <img src="{% static "users/home/img/clinica.jpg" %}" style="    width: 105.3%; height: 478px; padding: 0; margin-left: -12px; margin-top: -2px;" alt="">      
    </div>
    
<div class="text"style="text-align: center;">
    <h1>Clínicas</h1>
        <p>Registro y consultas de clínicas que han decido prestar sus instalaciones para disponerlas al alcance de pacientes en el extranjero que deseen solicitar una cirugía en Venezuela.</p>
</div>

{% endblock centro %}