{% extends "admin/dashboard.html" %}

{% block card-content %}
<div class="collection ">
        <a href="{% url 'paciente:incluirPaquete' %}"class="collection-item center-align">Agregar Paquete</a>
        <a href="{% url 'paciente:paquetes' %}" class="collection-item center-align">Consultar Paquetes</a>
    </div>    
{% endblock card-content %}

{% block centro  %}
<div class="item">
        {% load static %}
        <img src="{% static "users/home/img/paquete.jpg" %}" style="    width: 106%; height: 564px; padding: 0; margin-left: -12px; margin-top: -2px;" alt="">      
    </div>

<div class="text"style="text-align: center;">
    <h1>Paquetes</h1>
        <p>Registro y consultas de los paquetes que son ofrecidos por distintas organizaciones, con el fin de garantizar un buen servicio a los pacientes extranjeros que soliciten una cirugía en Venezuela.</p>
</div>   

{% endblock centro %}