{% extends "admin/dashboard.html" %}

{% block card-content %}
<div class="collection ">
        <a href="{% url 'clinica:incluir' %}"class="collection-item center-align">Incluir Quirofano</a>
        <a href="{% url 'clinica:quirofanos' %}" class="collection-item center-align">Consultar Quirofano</a>
    </div>    
{% endblock card-content %}

{% block centro  %}
<div class="item">
        {% load static %}
        <img src="{% static "users/home/img/quirofano.jpg" %}" style="    width: 105.3%; height: 564px; padding: 0; margin-left: -12px; margin-top: -2px;" alt="">      
    </div>
    
<div class="text"style="text-align: center;">
    <h1>Quirófanos</h1>
        <p>Registro y consulta de quirófanos que contienen cada unidad médica, para lograr determinar la cantidad de quirófanos que disponen y así llevar un mejor control para los pacientes.</p>
</div>
{% endblock centro %}