<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>MV World</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static "users/admin/css/materialize.min.css"  %} " rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="{% static "users/admin/css/font-awesome.css"  %} "  rel="stylesheet">
<link href="{% static "users/admin/css/style.css"  %} "  rel="stylesheet">
<link href="{% static "users/admin/css/dash.css"  %} "  rel="stylesheet">
</head>
<body>
        <ul id="dropdown1" class="dropdown-content">
                <li><a href="#!">opciones</a></li>
                <li class="divider"></li>
                <li><a href=" {% url 'users:logout' %} ">Salir</a></li>
              </ul>
    <nav>
      <div class="nav-wrapper blue">
                 
          <a href="{% url 'users:home' %}" class="brand-logo">MV World</a>
            <span class="left-align" style=" margin-left: 150px;"><a>Hola {{user.get_short_name }} </a></span>
            
            <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'cirujano:registro' %}">Cirujanos</a></li>
                    <li><a href="#">Clínicas</a></li>
                    <li><a href="#">Quirófanos</a></li>
                    <li><a href="#">Cirugias</a></li>
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">format_list_bulleted</i></a></li>
                  </ul>
                </div>
              </nav>
                      
<div class="container" style="padding: 0 px; margin-left: 0px ">
  <div class="row" style="width: 100%">
    <div class="col s3">
        {% block card %} {% endblock %}
        
      </div>
        
      <div class="col s9 push3">
          {% block centro %}{% endblock %}
        </div>
      
    </div>
      
    </div>
    <div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2018 <a href="#">Médicos venezolanos por el mundo</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
    </div>
    <!-- /footer --> 
    <!-- Le javascript
================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <script src="{% static "users/admin/js/jquery-1.7.2.min.js"  %}"></script> 
    <script type="text/javascript" >

    document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.dropdown-trigger');
		var instances = M.Dropdown.init(elems, {hover:true});
		});
		
         
  </script>
    <script src="{% static "users/admin/js/chart.min.js" %}"type="text/javascript"  ></script> 
    <script src="{% static "users/admin/js/materialize.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "users/admin/js/full-calendar/fullcalendar.min.js"  %}"></script>
    <script src="{% static "users/admin/js/base.js" %}"></script> 
    <script>
       
    </script>
</body>
</html>
