<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<title>MV World</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static "users/admin/css/materialize.min.css"  %} " rel="stylesheet">
<link href="{% static "users/admin/font/iconfont/material-icons.css"  %} " rel="stylesheet">
<link href="{% static "users/admin/css/dash.css"  %} "  rel="stylesheet">
<link rel="shartcut icon" type="image/x-icon" href="{% static "users/home/img/favicon2.png" %}">
</head>
<body>
        <ul id="dropdown1" class="dropdown-content">
          
          {% if not user.is_medical %}
           <li> <a class="waves-effect waves-light modal-trigger" href="#modal2">Desactivar Cuenta</a>
          {% endif %}
            
              <li class="divider"></li>
                <li> <a class="waves-effect waves-light modal-trigger" href="#modal1">Cerrar sesión</a>
                </li>
              </ul>
             
  <!-- Modal activar -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Cerrar sesión</h4>
      <p align="center">¿Estás seguro de que quieres cerrar sesión? </p>
    </div>
    <div class="modal-footer">
      <a href=" {% url 'users:logout' %} ">Sí</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>

  <!-- Modal Desactivar -->
  <div id="modal2" class="modal">
    <div class="modal-content">
      <h4>Desactivar cuenta</h4>
      <p align="center">¿Estás seguro de que quieres desactivar tu cuenta? </p>
    </div>
    <div class="modal-footer">
      <a href=" {% url 'users:desactivate' user.id %} ">Sí</a>
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
    </div>
  </div>
          
    <nav>
      <div class="nav-wrapper {% if user.is_staff %}black {% endif %} {% if user.is_medical %} blue {% endif %} {% if user.is_pacient %} blue {% endif %}">
                 
        <a href="{% url 'users:home' %}"><img src="{% static "users/home/img/logomvw.png" %}"  class="img-responsive logo" style="position: absolute; height: 50px; margin: 9px;"></a>
            <span class="left-align" style=" margin-left: 80px;"><a class="waves-effect waves-light" href="{% url 'users:dashboard' %}">Hola {{user.get_short_name }} </a></span>
            
            <ul class="right hide-on-med-and-down">
                {% if user.is_staff %}
                    <li><a class="waves-effect waves-light" href="{% url 'users:cirujanos' %}">Cirujanos</a></li>
                    <li><a class="waves-effect waves-light" href= "{% url 'users:clinicas' %}">Clínicas</a></li>
                    <li><a class="waves-effect waves-light" href= "{% url 'users:quirofanos' %}">Quirófanos</a></li>
                    <li><a class="waves-effect waves-light" href="{% url 'users:cirugias' %}">Cirugias</a></li>
                    {% endif %}

                    {% if user.is_medical %}
                    <li><a class="waves-effect waves-light" href="#">Consultar Agenda</a></li>
                    {% endif %}

                    {% if user.is_pacient %}
                    <li><a class="waves-effect waves-light" href="{% url 'paciente:solicitar' %}">Solicitar cita</a></li>
                    <li><a class="waves-effect waves-light" href="#">Cirujanos</a></li>
                    <li><a class="waves-effect waves-light" href="#">Cirugías</a></li>
                    {% endif %}
                    <!-- Dropdown Trigger -->
                    <li><a class="dropdown-trigger" href="#!" data-target="dropdown1"><i class="material-icons right">format_list_bulleted</i></a></li>
                  </ul>
                </div>
              </nav>
                      
<div class="container" style="padding: 0 px; margin-left: 0px ">
  <div class="row" style="width: 140%">
    <div class="card-user col s3">
        {% block card %} {% endblock %}
        
      </div>
        
      <div class="col s9 ">
          {% block centro %}{% endblock %}
        </div>

    </div>
      
    </div>
    <div class="footer">
  <div class="footer-inner">
    <div class="container">
      <div class="row">
        <div class="span12"> &copy; 2018 <a href="#">Médicos venezolanos por el mundo</a>. </div>
        <!-- /span12 --> 
      </div>
      <!-- /row --> 
    </div>
    <!-- /container --> 
  </div>
  <!-- /footer-inner --> 
    </div>
    <!-- /footer --> 
    <!-- Le javascript
================================================== --> 
    <script src="{% static "users/admin/js/jquery-1.7.2.min.js"  %}"></script> 

    {% block scripts %}{% endblock %}


  <script type="text/javascript" >

    document.addEventListener('DOMContentLoaded', function() {
		var elems = document.querySelectorAll('.dropdown-trigger');
		var instances = M.Dropdown.init(elems, {hover:true});
		});

    $(document).ready(function(){
    $('.modal').modal();
       });
  </script>
    <script src="{% static "users/admin/js/chart.min.js" %}"type="text/javascript"  ></script> 
    <script src="{% static "users/admin/js/materialize.js" %}"></script>
    <script language="javascript" type="text/javascript" src="{% static "users/admin/js/full-calendar/fullcalendar.min.js"  %}"></script>
    <script src="{% static "users/admin/js/base.js" %}"></script> 
   
</body>
</html>
