{% extends "admin/formularios.html" %}
{% block titulo %}
Crear Administrador
{% endblock %}


{% block content %}
{% if message %}
<blockquote class="red-text text-darken-3"> {{message}} </blockquote>
{% endif %}

<form class="form col s9 " action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-item left-align col s8">
        <button class = "btn btn-large blue left-align" type="submit">Guardar</button>
    </div>
    <div class="form-item  right-align col s3">
          <button class = "btn btn-large red " href="{% url 'users:home' %}">Cancelar</a>
    </div>
  
</form>

{% endblock %}