{% extends "admin/formularios.html" %}
{% block titulo %}
Actualizar Datos
{% endblock %}
{% block content %}
<form action="" method="post">
        {%csrf_token%}
        {{ form.as_p }}
        <div class="form-item   left-align col s6">
                <a class = "btn btn-small red " href="{% url 'users:login' %}">Cancelar</a>
          </div>
          <div class="form-item  right-align col s3">
               <button class="btn btn-small blue " type="submit">Guardar</button>
    </div>
     </form>

{% endblock %}